<xml:group>


<component:header>
        <div id="backButton"/>
        <h2  id="CRName" style="float:left; margin-left:50px;font-size:60px;"/>
        <div id="CRStatus" class="statusdiv" style="float: right; color : #F79D10; font-size:30px; background-color:#111; margin-right:50px; padding:5px" />
        <hr class="spacer"/>
        <i id="CRLastAction" style="margin-left:125px;" />
</component:header>

<component:details>
    <div id="detailsForm" class="object-details">
        <div id="CRName"/>
        <div id="CRDescription"/>
        <div id="CRSave"/>
	</div>
</component:details>

<component:changes>
    <div id="changes"  style=" margin-left:50px; clear:both; padding-top:5px">
      <div id="changeSelector" style="float:left; border-right: 2px ridge; min-height:200px;max-width:150px; overflow:auto; padding-right:10px;">
        <div id="changeTree">
          <ul/>
        </div>
      </div>
      <div id="changeDisplay"  style="float:left; min-height:200px;"/>
    </div>
            <hr class="spacer"/>
</component:changes>


</xml:group>
